/******* RESPONSIVE WANNABE ********/

@media screen and (max-width: 420px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding: 10px 0 20px 0;
  }

  #lezioni,
  #why {
    background-color: khaki;
  }

  #lezioni .row,
  #steps .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
}
