/* RESPONSIVE */

@media screen and (max-width: 420px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding: 10px 0 20px 0;
  }

  #lezioni,
  #why {
    background-color: khaki;
  }

  #lezioni .row,
  #steps .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  #steps.container .row > *,
  #lezioni.container .row > * {
    width: 100%;
  }

  img {
    height: 100px;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 15px;
  }
}

/* VERSIONE TABLET */

@media screen and (max-width: 915px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  hr {
    visibility: hidden;
  }

  .row {
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding: 10px 0 20px 0;
  }

  #lezioni,
  #why {
    background-color: rgb(221, 133, 0);
  }

  #lezioni .row,
  #steps .row,
  #why .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #steps.container .row > *,
  #lezioni.container .row > *,
  #why.container .row > * {
    width: 80%;
    padding-bottom: 50px;
  }

  img {
    height: 100px;
  }

  #why.container .row > * {
    padding-bottom: 25px;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 15px;
  }
}
